{% extends "base.html" %}
{% block title %}Manage Chapters{% endblock %}

{% block content %}

<div class="admin-container">

    <h2>Manage Chapters</h2>

    <p class="muted">
        Novel: <strong>{{ novel.title }}</strong>
    </p>

    <a href="{{ url_for('add_chapter', novel_id=novel.id) }}" class="btn">
        + Add New Chapter
    </a>

    {% if chapters %}
        <table class="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
	 <th>views</th>	
                </tr>
            </thead>

            <tbody>
                {% for chapter in chapters %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ chapter.title }}</td>
                    <td>{{ chapter.views }}</td>

                        {% if chapter.status == "published" %}
                            <span class="status published">Published</span>
                        {% else %}
                            <span class="status draft">Draft</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_chapter', chapter_id=chapter.id) }}">Edit</a> |
                        <a href="{{ url_for('delete_chapter', chapter_id=chapter.id) }}"
                           onclick="return confirm('Delete this chapter?')">
                           Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No chapters yet.</p>
    {% endif %}

</div>

{% endblock %}
