{% extends "base.html" %}
{% block title %}{{ novel.title }}{% endblock %}

{% block content %}
<div class="novel-detail">

    <!-- COVER -->
    {% if novel.cover %}
        <img class="novel-cover" src="{{ url_for('static', filename=novel.cover) }}" alt="{{ novel.title }}">
    {% endif %}

    <!-- TITLE -->
    <h1>{{ novel.title }}</h1>

    <!-- DESCRIPTION -->
    <p class="novel-description">
        {{ novel.description }}
    </p>

    <!-- BUTTON TO CHAPTER LIST -->
    <a class="btn" href="{{ url_for('novel_chapters', novel_id=novel.id) }}">
        View Chapters
    </a>

</div>
{% endblock %}
